// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

//************TOP NAV STYLES******************//
//    (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)

//Body font
body {
	font-family: 'Amatic SC', cursive;
}

//Removes the default page title displaying on site
.entry-header {
	.entry-title {
		display: none;
	}
}


//styles for the top nav desktop
#wrapper-navbar {
	background-color: $headerFooter;
	width: 100%;
	text-align: center;
	ul {
		list-style-type: none;
		display: inline;
		margin: 0 auto;
		width: 100%;

		li {
			display: inline-block;
			padding: 10px 50px 10px 50px;
			margin-left: auto;
			font-size: 180%;
			a {
				color: #000;
			}
		}
	}
	@include media-breakpoint-up(xs) {
		display: none;
	}
	@include media-breakpoint-up(md) {
		display: inline-block;
	}
}

//styles for the top nav mobile
#topNavMobile {
	@include media-breakpoint-up(md) {
		display: none;
	}

	z-index: 999;
	background-color: #FF96FF;

	.mobile-menu-toggle {
		float: right;
		padding-right: 25px;
		font-size: 200%;
	}

		ul.mobile-menu.inactive {
			display: none;
		}
		ul.mobile-menu.active {
			text-align: center;
			height: 100vh;
			margin: auto;
			padding-left: 0;
			li {
				list-style: none;
				line-height: 50px;
				font-size: 200%;
				color: #000;
				border-bottom: 1px solid #ffff72;
				padding: 10px 0 10px 0;
				p.mobile-menu-p {
					padding: 20px 0 20px 0;

				}

			}
			.header-link-mobile {
				color: #000;
			}
			.mobile-menu-icon {
				float: left;
				padding-left: 20px;
			}
		}
}



//styles for the footer

.footer-container {
	margin-top: 25px;
	background-color: $headerFooter;
	.footer-content {
		margin-top: auto;
		margin-bottom: auto;
	}
	.shipping-privacy {
		text-align: center;
			a {
			margin-left: auto;
			color: #000;
		}
	}
	.footer-link {
		text-align: center;
		font-size: 180%;
		margin: auto 0;
	}
	.social-links {
		@include media-breakpoint-up(xs){
			text-align: center;
			margin: 15px 0 15px 0;
			}
		
		.footer-social-icon {
			@include media-breakpoint-up(md) {
				width: 100%;
				padding: 20px 0 20px 20px;
				}
			@include media-breakpoint-up(xl) {
				width: 50%;
			}
			@include media-breakpoint-up(xs) {
				padding-left: 5px;
				width: 15%;
			}
			}
		
	}
}

//styles for the hero area
#hero-image {
	text-align: center !important;
}

img[title="hero-image"] {
    width: 35% !important;
}


//WooCommerce styling
.woocommerce-ordering {
	float: none !important;
	width: 25%;
}

.woocommerce span.onsale {
	background-color: #FF96FF !important;
}

.woocommerce ul.products li.product .woocommerce-loop-product__title {
	font-size: 200%;
	color: #000;
}

.woocommerce ul.products li.product .price {
	font-size: 150%;
	color: #000;
}

.btn-primary.disabled,.btn-primary,.btn-outline-primary {
	font-size: 200%;
	width: auto;
	background-color: #F1B861;
	border-color: #d18e28;
	padding: 20px 20px 20px 20px;
	color: #000;
}

	
.btn-primary.disabled:hover,.btn-primary:hover,.btn-outline-primary:hover {
	background-color: #eb9e28;
	border-color: #d18e28;
}

//Wooceommerce increases the font size for the woocommerce price, excerpt and sizes

.woocommerce-page div.product .woocommerce-tabs,.woocommerce div.product p.price, .lead, .woocommerce div.product form.cart .variations  {
	font-size: 150%;
}

.woocommerce ul.products li.product {
	width: 46%;
}

//Instagram feed

.slider-container {
	border-top: 10px solid #FF96FF !important;
	border-bottom: 10px solid #FF96FF !important;
	background-color: #EFEFEF  !important;
	.slick-track {
		
	
		img {
			@include media-breakpoint-up(xs) {
				width: 100% !important;

			}
			@include media-breakpoint-up(md) {
				height: 100% !important;
			}
		}
	}
}

//Slick
/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
